.container {
  max-width: 960px;
  margin: 0 auto;
}

/* ============================================================
  SECTIONS
============================================================ */
section.module:last-child {
  margin-bottom: 0;
}
section.module h2 {
  margin-bottom: 40px;
  font-family: "Roboto Slab", serif;
  font-size: 30px;
}
section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 0;
}
section.module.parallax {
  padding: 240px 0;
  background-position: 0 0;
}
section.module.parallax h1 {
  color: #1e1e1e;
  font-size: 48px;
  line-height: 1;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px white;
}
section.module.parallax-1 {
  background-image: url("https://raw.githubusercontent.com/jakeborro/jakeborro.github.io/master/img/wood.png");
}
section.module.parallax-2 {
  background-image: url("https://allthingsnicecanada.files.wordpress.com/2013/06/background11.jpg");
}
section.module.parallax-3 {
  background-image: url("https://raw.githubusercontent.com/jakeborro/jakeborro.github.io/master/img/pentagon.png");
}

@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax {
    padding: 300px 0;
  }
  section.module.parallax h1 {
    font-size: 96px;
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 160px;
  }
}

/* nav styles */
nav.cmn-tile-nav {
  display: none;
}
nav.cmn-tile-nav.open {
  display: block;
}
nav.cmn-tile-nav ul {
  list-style: none;
}
nav.cmn-tile-nav li {
  display: block;
  overflow: hidden;
  transition: background 0.3s;
}
nav.cmn-tile-nav a {
  display: block;
  padding: 0px;
  color: #fff;
  transition: background 0.3s, transform 0.3s;
}
nav.cmn-tile-nav a:hover {
  transform: translateX(20px);
}

/* repeat this section for the 8 different colours */
/* --- BEGIN --- */
nav.cmn-tile-nav li.colour-1,
nav.cmn-tile-nav li.colour-1 a {
  background-color: #28aadc;
}
nav.cmn-tile-nav li.colour-1:hover,
nav.cmn-tile-nav li.colour-1:hover a {
  background-color: #166888;
}
/* --- END --- */
/* --- BEGIN --- */
nav.cmn-tile-nav li.colour-2,
nav.cmn-tile-nav li.colour-2 a {
  background-color: #28aadc;
}
nav.cmn-tile-nav li.colour-2:hover,
nav.cmn-tile-nav li.colour-2:hover a {
  background-color: #166888;
}
/* --- END --- */
/* --- BEGIN --- */
nav.cmn-tile-nav li.colour-3,
nav.cmn-tile-nav li.colour-3 a {
  background-color: #28aadc;
}
nav.cmn-tile-nav li.colour-3:hover,
nav.cmn-tile-nav li.colour-3:hover a {
  background-color: #166888;
}
/* --- END --- */
/* --- BEGIN --- */
nav.cmn-tile-nav li.colour-4,
nav.cmn-tile-nav li.colour-4 a {
  background-color: #28aadc;
}
nav.cmn-tile-nav li.colour-4:hover,
nav.cmn-tile-nav li.colour-4:hover a {
  background-color: #166888;
}
/* --- END --- */
/* --- BEGIN --- */
nav.cmn-tile-nav li.colour-5,
nav.cmn-tile-nav li.colour-5 a {
  background-color: #28aadc;
}
nav.cmn-tile-nav li.colour-5:hover,
nav.cmn-tile-nav li.colour-5:hover a {
  background-color: #166888;
}
/* --- END --- */


/* smoother transitions */
nav.cmn-tile-nav li,
nav.cmn-tile-nav a {
  transform: translate3d(0, 0, 0);
}
@media all and (min-width: 480px) {
  nav.cmn-tile-nav {
    display: block;
  }
  nav.cmn-tile-nav li {
    width: 20%;
    float: left;
  }
}
@media all and (min-width: 768px) {
  nav.cmn-tile-nav li {
    width: 100%;
  }
  nav.cmn-tile-nav a {
    text-align: center;
    padding: 20px 20px 20px 20px;
  }
  nav.cmn-tile-nav a:hover {
    transform: translateX(0);
    transform: translateY(-20px);
  }
}
@media all and (min-width: 1024px) {
  nav.cmn-tile-nav li {
    overflow: visible;
    width: 16%;
  }
  nav.cmn-tile-nav a {
    padding: 50px 20px 20px 20px;
  }
  nav.cmn-tile-nav a:hover {
    transform: translateY(20px);
  }
}
a.nav-toggle {
  display: block;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #dce6f0;
  color: #646464;
  text-align: center;
}
a.nav-toggle:hover {
  background-color: #c8d2dc;
}
/* the breakpoint same as above */
@media all and (min-width: 480px) {
  a.nav-toggle {
    display: none;
  }
}
